#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

/* German umlauts */
ZMK_LEADER_SEQUENCE(de_ae,      &uc UC_DE_AE,         A)  // ä
ZMK_LEADER_SEQUENCE(de_oe,      &uc UC_DE_OE,         O)  // ö
ZMK_LEADER_SEQUENCE(de_ue,      &uc UC_DE_UE,         U)  // ü
ZMK_LEADER_SEQUENCE(de_eszett,  &uc UC_DE_SS,         S)  // ß

/* French accents */
ZMK_LEADER_SEQUENCE(fr_e_acute,       &uc UC_FR_E_ACUTE,       E)       // é
ZMK_LEADER_SEQUENCE(fr_e_grave,       &uc UC_FR_E_GRAVE,       E G)     // è
ZMK_LEADER_SEQUENCE(fr_e_circumflex,  &uc UC_FR_E_CIRCUMFLEX,  E C)     // ê
ZMK_LEADER_SEQUENCE(fr_e_diaeresis,   &uc UC_FR_E_DIAERESIS,   E D)     // ë
ZMK_LEADER_SEQUENCE(fr_a_grave,       &uc UC_FR_A_GRAVE,       A G)     // à
ZMK_LEADER_SEQUENCE(fr_a_circumflex,  &uc UC_FR_A_CIRCUMFLEX,  A C)     // â
ZMK_LEADER_SEQUENCE(fr_c_cedilla,     &uc UC_FR_C_CEDILLA,     C)       // ç
ZMK_LEADER_SEQUENCE(fr_o_circumflex,  &uc UC_FR_O_CIRCUMFLEX,  O C)     // ô
ZMK_LEADER_SEQUENCE(fr_i_circumflex,  &uc UC_FR_I_CIRCUMFLEX,  I C)     // î
ZMK_LEADER_SEQUENCE(fr_i_diaeresis,   &uc UC_FR_I_DIAERESIS,   I D)     // ï
ZMK_LEADER_SEQUENCE(fr_u_grave,       &uc UC_FR_U_GRAVE,       U G)     // ù
ZMK_LEADER_SEQUENCE(fr_u_circumflex,  &uc UC_FR_U_CIRCUMFLEX,  U C)     // û
ZMK_LEADER_SEQUENCE(fr_u_diaeresis,   &uc UC_FR_U_DIAERESIS,   U D)     // ü
ZMK_LEADER_SEQUENCE(fr_y_diaeresis,   &uc UC_FR_Y_DIAERESIS,   Y D)     // ÿ
ZMK_LEADER_SEQUENCE(fr_ae,            &uc UC_FR_AE,            A E)     // æ
ZMK_LEADER_SEQUENCE(fr_oe,            &uc UC_FR_OE,            O E)     // œ

// Unicode mode switching
ZMK_LEADER_SEQUENCE(uc_mac,     &uc UC_SET_MACOS,       M A C)
ZMK_LEADER_SEQUENCE(uc_win,     &uc UC_SET_WIN_COMPOSE, W I N)
ZMK_LEADER_SEQUENCE(uc_linux,   &uc UC_SET_LINUX,       L I N)

// BLE and USB
#ifdef CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(usb,        &out OUT_USB,   U S B)
ZMK_LEADER_SEQUENCE(ble,        &out OUT_BLE,   B L E)
#endif // CONFIG_WIRELESS
ZMK_LEADER_SEQUENCE(reset,      &sys_reset,     R E S E T)
ZMK_LEADER_SEQUENCE(boot,       &bootloader,    B O O T)

